.movie-view {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 50px 0;
}

.mat-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  max-width: 280px;
  width: 280px;
  margin: 15px;
  padding: 20px 3px;
  background-color: #333;
}

.mat-card-title {
  text-align: center;
}