<app-navbar></app-navbar>
<div class="user-profile-page">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        Profile Information
      </mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <p><b>Username: </b>{{user.username}}</p>
      <p><b>Email: </b>{{user.email}}</p>
      <p><b>Birthday: </b>{{user.birthday | date}}</p>
    </mat-card-content>

    <mat-card-actions>
      <button mat-raised-button (click)="openEditProfileDialog()" color="primary">
        <mat-icon>edit</mat-icon>
        Edit Profile
      </button>
      <button mat-raised-button (click)="deleteProfile()" color="warn">
        <mat-icon>delete_forever</mat-icon>
        Delete Profile
      </button>
    </mat-card-actions>
  </mat-card>
</div>